$widget-width: 300px;

.testimonials {
    &-quote {
        &-box {
            height: 125px;
        }

        font-family: 'Nothing You Could Do', cursive;
        text-align: center;
        font-size: 26px;
        margin-bottom: 12px;
    }

    &-blog {
        float: left;
        width: -webkit-calc(100% - #{$widget-width});
    }

    &-twitter {
        float: right;
        width: $widget-width;
    }
}
